header{
    background-color: rgb(121 173 220);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid orange;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 25px;
    text-transform: capitalize;

}

.question{
    background-color: rgb(255 192 159);
    color: black;
        padding: 20px;
        margin: 10px;
        border: 5px solid navy;
        text-decoration: underline;
        text-transform: capitalize;

}

.popular{
    background-color: rgb(173 247 182);
    color: black;
        padding: 20px;
        margin: 10px;
        border: 5px solid magenta;
        text-decoration: underline;
        text-transform: capitalize;
}

.butter-chicken{
    background-color: rgb(252 245 199);
    color: black;
        padding: 20px;
        margin: 10px;
        border: 5px solid purple;
        text-transform: capitalize;
}

.somosa{
    background-color: rgb(255 238 147);
    color: black;
        padding: 20px;
        margin: 10px;
        border: 5px solid pink;
        text-transform: capitalize;

}
.Tandoori {
    background-color: rgb(121 173 220);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid orange;
    text-transform: capitalize;

}

.biryani {
    background-color: rgb(255 192 159);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid navy;
    text-transform: capitalize;

}

.dal {
    background-color: rgb(255 238 147);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid pink;
    text-transform: capitalize;

}

.chicken-Tikka {
    background-color: rgb(252 245 199);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid purple;
    text-transform: capitalize;
}

.paneer-Tikka {
    background-color: rgb(121 173 220);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid orange;
    text-transform: capitalize;
}

footer {
    background-color: rgb(255 238 147);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid pink;
    text-transform: capitalize;

}

