header{
    background-color: rgb(121 173 220);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid orange;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 25px;
    text-transform: capitalize;
    text-align: justify;
    box-shadow: 2px 4px 6px 8px gray;
    opacity: 1;
    z-index: 1;

}

.question{
    background-color: rgb(255 192 159);
    color: black;
        padding: 20px;
        margin: 10px;
        border: 5px solid navy;
        text-decoration: underline;
        text-transform: capitalize;
        text-align: justify;
        box-shadow: 2px 4px 6px 8px gray;

}

.popular{
    background-color: rgb(173 247 182);
    color: black;
        padding: 20px;
        margin: 10px;
        border: 5px solid magenta;
        text-decoration: underline;
        text-transform: capitalize;
        text-align: justify;
        box-shadow: 2px 4px 6px 8px gray;
}

.butter-chicken{
    background-color: rgb(252 245 199);
    color: black;
        padding: 20px;
        margin: 10px;
        border: 5px solid purple;
        text-transform: capitalize;
        text-align: justify;
}

.somosa{
    background-color: rgb(255 238 147);
    color: black;
        padding: 20px;
        margin: 10px;
        border: 5px solid pink;
        text-transform: capitalize;
        text-align: justify;

}
.Tandoori {
    background-color: rgb(121 173 220);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid orange;
    text-transform: capitalize;
    text-align: justify;

}

.biryani {
    background-color: rgb(255 192 159);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid navy;
    text-transform: capitalize;
    text-align: justify;

}

.dal {
    background-color: rgb(255 238 147);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid pink;
    text-transform: capitalize;
    text-align: justify;

}

.chicken-Tikka {
    background-color: rgb(252 245 199);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid purple;
    text-transform: capitalize;
    text-align: justify;
}

.paneer-Tikka {
    background-color: rgb(121 173 220);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid orange;
    text-transform: capitalize;
    text-align: justify;
}

footer {
    background-color: rgb(255 238 147);
    color: black;
    padding: 20px;
    margin: 10px;
    border: 5px solid pink;
    text-transform: capitalize;
    text-align: justify;
    box-shadow: 2px 4px 6px 8px gray;

}

header{
    grid-area: header;
}

.question{
    grid-area: question;
}

.popular{
    grid-area: popular;
}

.butter-chicken{
    grid-area: butter-chicken;
}

.somosa{
    grid-area: somosa;
}

.Tandoori{
    grid-area: tandoori;
}

.biryani{
    grid-area: biryani;
}

.dal{
    grid-area: dal;
}

.chicken-Tikka{
    grid-area: chicken-Tikka;
}

.paneer-Tikka{
    grid-area: paneer-tikka;
}

footer{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "header header header header header header header header"
    "question question question question question popular popular popular"
    "somosa somosa somosa somosa somosa somosa somosa somosa"
    "Tandoori Tandoori Tandoori Tandoori Tandoori Tandoori Tandoori Tandoori"
    "biryani biryani biryani biryani biryani biryani biryani biryani"
    "dal dal dal dal dal dal dal dal"
    "chicken-Tikka chicken-Tikka chicken-Tikka chicken-Tikka chicken-Tikka chicken-Tikka chicken-Tikka chicken-Tikka"
    "paneer-Tikka paneer-Tikka paneer-Tikka paneer-Tikka paneer-Tikka paneer-Tikka paneer-Tikka paneer-Tikka"
    "footer footer footer footer footer footer footer footer "
    ;
}